:root {
  --grid-size: min(90vh, 90vw);
  --square-size: calc(var(--grid-size) / 16);
}

.grid {
  height: var(--grid-size);
  width: var(--grid-size);
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  /* border: 1px solid black; */
}

.square {
  height: var(--square-size);
  width: var(--square-size);
  user-select: none;
}

.colored.square {
  background-color: black;
}